html{
    background-color: #06121f;
    width: 90vw;
}
::-webkit-scrollbar{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.index-header{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;
}
a{
    text-decoration: none;
}
.div-info{
    width: 55vw;
    display: flex;
    justify-content: space-around;
}
.word-title{
    font-size: 17px;
    font-family: Arial;
    color: #ffffff;
}
.word-title:hover{
    animation: animation-links 1s forwards;
}
.header::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ffffff85;
}
.img-perfil{
    margin-top: 10px;
    width: 18em;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.238);
}
.main-info{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 20px;
    background-image: url("../assets/image3.jpg");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
.info-text-name{
    color: #030e1b;
    font-size: 30px;
    font-family: Arial;
    animation: animation-title 2s forwards;
}
.info-text{
    font-size: 24px;
    color: #ffffff;
    font-family: Arial;
}
.info-text2{
    font-size: 18px;
    color: #ffffff;
    font-family: Arial;
}
.btn, .btn-curriculo{
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    width: 100px;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #8e00d0, #11457e);
    border-image-slice: 1;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.238);
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.main-info-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img{
    display: flex;
    align-items: center;
    animation: img-perfil 1s forwards;
}
.more-info{
    width: 40vw;
    display: flex;
    flex-direction: column;
}
.div-about{
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div-about::before{
    content: '';
    position: absolute;
    left: 48vw;
    width: 2px;
    height: 18em;
    background-color: #ffffff;
}
.informations{
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: 80;
}
.icon-img{
    width: 40px;
    padding: 10px;
}
ul{
    color: #ffffff;
    font-size: 12px;
    font-family: Arial;
}
.knoledge{
    display: flex;
    height: 15em;
    margin-top: 5px;
    align-items: center;
}
.div-knoledge{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #010810;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.238);
}
.div-projects{
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.projects{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    padding: 4vw;
    justify-content: space-around;
}
.project-imc{
    display: block;
    width: 23vw;
    height: 20vh;
    background-size: 120%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../assets/img-projects/imc-app.png");
}
.project-note{
    display: block;
    width: 23vw;
    height: 20vh;
    background-size: 120%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../assets/img-projects/notes-react.png");
}
.project-note:hover{
    animation: animation-projects 1s forwards;
}
.project-gatry:hover{
    animation: animation-projects 1s forwards;
}
.project-goodness:hover{
    animation: animation-projects 1s forwards;
}
.project-imc:hover{
    animation: animation-projects 1s forwards;
}
.project-gatry{
    display: block;
    width: 23vw;
    height: 20vh;
    background-size: 120%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../assets/img-projects/clone-gatry.png");
}
.project-goodness{
    display: block;
    width: 23vw;
    height: 20vh;
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../assets/img-projects/goodness-idea.png");
}
.project{
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.title-project{
    color: #ffffff;
    font-family: Arial;
}
.desc-project{
    color: #ffffffa3;
    font-family: Arial;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 50px;
}
.tech-project{
    color: #0082aa;
    font-family: Arial;
    font-size: 15px;
}
.contact{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #010810;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.238);
}
.person-contacts, .social-contacts{
    color: #ffffff;
    font-family: Arial;
}
.link{
    text-decoration: none;
    color: #ffffff;
}
.link:hover{
    animation: animation-links 0.5s forwards;
}
.social-contacts{
    display: flex;
    flex-direction: column;
}
.footer{
    background-color: #09111a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: #ffffff;
    font-family: Arial;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.238);
}
.footer h3{
    font-size: 15px;
    margin-top: 0;
}
#contacts{
    display: flex;
    justify-content: center;
}
#contacts::after{
    content: '';
    display: block;
    position: absolute;
    margin-top: 1.4em;
    height: 1px;
    width: 7em;
    background-color: #ffffff;
}
.footer-title{
    background-color: #010810;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@keyframes animation-projects{
    to{
        opacity: 0.3;
    }
}
@keyframes animation-links{
    to{
        color: #1d7a9c;
        font-size: 20px;
    }
}
.btn:hover{
    animation: animation-buttons 1s forwards;
}
@keyframes animation-buttons{
    to{
        background-color: #041a3982;
        padding-left: 40px;
    }
}
.btn-curriculo:hover{
    animation: animation-button-curriculo 1s forwards;
}
@keyframes animation-button-curriculo{
    to{
        background-color: #dfdfdf58;
    }
}
@keyframes animation-title{
    from{
        margin-left: 100px;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes img-perfil{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.button-project{
    display: flex;
    justify-content: center;
}
.btn-project{
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    width: 200px;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #8e00d0, #11457e);
    border-image-slice: 1;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.238);
}
.btn-project:hover{
    animation: animation-btn-project 2s forwards;
}
@keyframes animation-btn-project{
    to{
        border-image: linear-gradient(to right, #5cabff, #0e7143);
        border-image-slice: 1;
        background-color: #2a586649;
    }
}